@media screen and (max-width: 1200px){
    .Mid{
        text-align:center;
        font-family: 'Open Sans', sans-serif;
    }
    .par{
        text-align: center;
        font-family: Roboto;
    }
    .par2{
        text-align: center;
        font-family: Roboto;
        text-size-adjust: 50px;
    }
    #Por{
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    .item{
        display: inline-block;
        padding-left: 33%;
        font-family: 'Open Sans', sans-serif;
    }
    .item5{
        display: inline-block;
        padding-left: 30.5%;
        font-family: 'Open Sans', sans-serif;
    }
    .container{
        background-color:antiquewhite;
    }
    .item2{
        display: inline-block;
        padding-left: 40%;
        font-family: 'Open Sans', sans-serif;
    }
    .container2{
        background-color:antiquewhite;
    }
    .item3{
        display: inline-block;
    }
    .container3{
        background-color:antiquewhite;
    }
    .item4{
        padding-left: 7%;
        display: inline-block;
    }
    .right{
        font-family: 'Open Sans', sans-serif;
        padding-left:10%;
    }
    .lol{
        display: inline-flex;
    }
    .l{
        background-color:white;
    }
    .container:hover{
        background-color: antiquewhite
    }
    .container2:hover{
        background-color: antiquewhite
    }
    .container3:hover{
        background-color: antiquewhite
    }
    .container, .container2, .container3
    {
        border-style: inset;
    }
}
@media screen and (min-width: 1200px){
    body{
        padding:0;
        margin:0;
    }
    .Mid{
        text-align:center;
        font-family: 'Open Sans', sans-serif;
    }
    .par{
        text-align: center;
        font-family: Roboto;
    }
    .par2{
        text-align: center;
        font-family: Roboto;
        text-size-adjust: 50px;
    }
    #Por{
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    .item{
        display: inline-block;
        padding-left: 4%;
        font-family: 'Open Sans', sans-serif;
    }
    .item5{
        display: inline-block;
        padding-left: 6%;
        font-family: 'Open Sans', sans-serif;
    }
    .image:hover{
        height: 250px;
    }
    .image{
        transition: height 1s;
    }
    .container:hover{
        background-color: antiquewhite
    }
    .item2{
        display: inline-block;
        padding-left: 7%;
        font-family: 'Open Sans', sans-serif;
    }
    .container2:hover{
        background-color: antiquewhite
    }
    .image2:hover{
        height: 250px;
    }
    .image2{
        transition: height 2s;
    }
    .item3{
        display: inline-block;
    }
    .item4{
        padding-left: 15%;
        display: inline-block;
    }
    .right{
        font-family: 'Open Sans', sans-serif;
        padding-left:20%;
    }
    .lol{
        display: inline-flex;
    }
    .container3:hover{
        background-color: antiquewhite
    }
    .l{
        background-color: white;
    }
    .container, .container2, .container3
    {
        border-style: solid;
    }
    }